
<div class="container">

  <ng-container *ngIf="!board.boardId; else existingBoard">
    <div class="text-center mt-4">
      <h1 class="text-3xl font-bold mb-4">Create your Board</h1>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="openCreateBoardModal()">Create board</button>
    </div>
  </ng-container>

  <ng-template #existingBoard>
    <div class="flex justify-between items-center mb-4">
      <h1 class="text-3xl font-bold">{{ board.name }}</h1>
      <app-history [boardId]="board.boardId"></app-history>
    </div>
    <app-list [boardId]="board.boardId"></app-list>
  </ng-template>

  <div class="fixed inset-0 flex items-center justify-center z-50" *ngIf="showCreateBoardModal">
    <div class="fixed inset-0 bg-gray-900 bg-opacity-50"></div>
    <div class="relative bg-white p-6 rounded-lg w-96">
      <button class="absolute top-0 right-0 p-2 text-gray-600 hover:text-gray-800" (click)="closeCreateBoardModal()">
        <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
      <h2 class="text-2xl font-bold mb-4">Create new board</h2>
      <form (ngSubmit)="createBoardNgOnInit()">
        <div class="mb-4">
          <label for="boardName" class="block text-gray-700 font-bold mb-2">Name:</label>
          <input type="text" id="boardName" [(ngModel)]="board.name" name="boardName"
            class="w-full border border-gray-300 rounded-md py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-blue-500"
            placeholder="Enter name">
        </div>
        <div class="mb-6">
          <label for="boardDescription" class="block text-gray-700 font-bold mb-2">Description:</label>
          <textarea id="boardDescription" [(ngModel)]="board.description" name="boardDescription"
            class="w-full border border-gray-300 rounded-md py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-blue-500"
            placeholder="Enter description"></textarea>
        </div>
        <button type="submit"
          class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Create</button>
      </form>
    </div>
  </div>

</div>